<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="col">
                <ul class="author">
                    <li>{{  site.author.name  }}</li>
                    <li>
                        <span class="e-mail" username="ilozzops" domain="es.htk"></span>
                    </li>
                </ul>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
</footer>
