body {
  color: #000;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

@media (min-width: 48em) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

.copyright {
  font-size: 15px;
}

.e-mail:after {
  content: attr(domain) "\0040" attr(username);
  direction: rtl;
  unicode-bidi: bidi-override;
}

.lead {
  font-size: 21px;
}

.sidebar-about h1 {
  font-size: 42px;
}

.sidebar-nav-item {
  font-size: 18px;
}

#particles-js {
  height: 100%;
  background-color: #000;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;
  text-align: left;
}
