a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

a:hover {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

html {
  color: #202020;
  font-family: 'Source Code Pro', monospace;;
  font-size: 16px;
}

li {
  color: #ff0bac;
  list-style-type: "—";
  padding-inline-start: 1em;
}

.announcement {
  margin-bottom: .5rem;
}

.bio {
  margin-bottom: 4rem;
}

.date {
  color: #ff0bac;
  font-weight: 500;
}

.callout {
  background-color: rgba(223, 223, 223, 0.5);
  border-radius: 0.5em;
  color: #000;
  margin-bottom: 1rem;
  padding: 1rem;
}

.content {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
@media (min-width: 48em) {
  .content {
    max-width: 42rem;
  }
}

.e-mail:after {
  content: attr(domain) "\0040" attr(username);
  direction: rtl;
  unicode-bidi: bidi-override;
}

.footer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.footer i {
  background-color: transparent;
  fill: #fff;
}

.mb-0 {
  margin-bottom: 0;
}

.lead {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 48em) {
  .sidebar {
    background-color: transparent;
    position: relative;
  }
}

.sidebar-about h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  font-weight: 600;
}

.sidebar-nav {
  font-family: 'Source Code Pro', monospace;
}

.sidebar-nav-item {
  font-size: 16px;
}

.sidebar-nav-item.active {
  color: #fff;
  font-weight: 600;
}

.text-black {
  color: #000;
}

.title {
  font-size: 32px;
  margin-bottom: 1rem;
  margin-top: 0;
}

#particles-js {
  background-color: #000;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (max-width: 48em) {
  #particles-js {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}
@media (min-width: 48em) {
  #particles-js {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 18rem;
  }
}
