html {
  color: #000;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

html, body {
  overflow-x: hidden;
}

a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-decoration: underline;
}

a:hover {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

li {
  color: rgba(0, 0, 0, 0.5);
  list-style-type: "—";
  padding-inline-start: 1em;
}

.announcement {
  margin-bottom: .5rem;
}

.bio {
  margin-bottom: 4rem;
}

.date {
  color: #ff0bac;
  font-weight: 500;
}

.callout {
  background-color: rgba(223, 223, 223, 0.5);
  border-radius: 0.5em;
  color: #000;
  margin-bottom: 1rem;
  padding: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-icon-checkbox {
  opacity: 0;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.menu-icon-label {
  align-items: center;
  background-color: #fff;
  border-radius: .25rem;
  color: #505050;
  cursor: pointer;
  display: flex;
  left: 1rem;
  padding: .25rem .75rem;
  position: absolute;
  top: .8rem;
}

.menu-icon-label::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23555' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
}

.menu-icon-label:active,
#sidebar-checkbox:focus ~ .menu-icon-label,
#sidebar-checkbox:checked ~ .menu-icon-label {
  background-color: #555;
  color: #fff;
}

.menu-icon-label:active:before,
#sidebar-checkbox:focus ~ .menu-icon-label::before,
#sidebar-checkbox:checked ~ .menu-icon-label::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

@media (min-width: 30.1em) {
  .menu-icon-label {
    position: fixed;
  }
}

@media print {
  .menu-icon-label {
    display: none;
  }
}

.wrapper,
.sidebar,
.menu-icon-label {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
.wrapper,
.menu-icon-label {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

#menu-icon-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}

#menu-icon-checkbox:checked ~ .sidebar,
#menu-icon-checkbox:checked ~ .wrapper,
#menu-icon-checkbox:checked ~ .menu-icon-label {
  -webkit-transform: translateX(18rem);
      -ms-transform: translateX(18rem);
          transform: translateX(18rem);
}

.e-mail {
  color: #2a7ae2;
  text-decoration: none;
}



.e-mail:after {
  content: attr(domain) "\0040" attr(username);
  direction: rtl;
  unicode-bidi: bidi-override;
}

.e-mail:hover {
  color: #111;
  text-decoration: underline;
}

/*
 * Footer
 */

 ul.author {
    list-style: none;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-left: 0;
 }

 li.author {
    list-style: none;
    padding-inline-start: 0;
 }

.footer {
    border-top: 1px solid #e8e8e8;
    color: #828282;
    font-family: "Source Sans", sans-serif;
    font-size: 14px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer .col {
    width: 100%
}

.footer .row {
    column-gap: 21px;
    display: flex;
}

/*
 * Header
 */

.author-name {
    color: rgba(0, 0, 0, .5);
    font-family: "Source Sans", sans-serif;
    font-size: 16px;
}

.header {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
    color: #000;
    font-family: "Source Code Pro", monospace;
    font-size: 21px;
    text-decoration: none;
}

/*
 * Sidebar
 */

.copyright {
    color: #828282;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.sidebar {
    background-color: transparent;
    bottom: 0;
    font-weight: 400;
    left: -18rem;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;
    width: 18rem;
    -webkit-transition: all .3s ease-in-out;
}

.sidebar-nav-item {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  text-decoration: none;
}

.sidebar-nav-item:hover {
  color: #fff;
  text-decoration: underline;
}

.sidebar-nav-item.active {
  color: #fff;
  text-decoration: underline;
}

#particles-js {
    background-color: #000;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/*
 * Utilities
 */

.mb-0 {
    margin-bottom: 0;
}

.text-black {
    color: #000;
}

/*
 * Wrapper
 */

.wrapper {
    position: relative;
    width: 100%;
}
